env.sh
setenv*
**/.terraform
**/*.lock.hcl
**/clouds.yaml
**/*.pem
**/inventory.yml
**/ssh.config
setenv.sh
PrivateRules.mak
build
tests/**/build
tests/**/scripts
PrivateRules*.mak
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
