Host jump_host
    Hostname 130.246.214.45
    User ubuntu
    IdentityFile ../resources/keys/ska-ser-ca.pem
    IdentityFile ./keys/ska-ser-ca.pem
    IdentityFile ~/.ssh/ska-ser-ca.pem
    IdentityFile ./ska-ser-ca.pem
    IdentityFile ../ska-ser-ca.pem

Host e2e_ca
    Hostname 192.168.99.13
    User ubuntu
    IdentityFile ../resources/keys/ska-ser-ca.pem
    IdentityFile ./keys/ska-ser-ca.pem
    IdentityFile ~/.ssh/ska-ser-ca.pem
    IdentityFile ./ska-ser-ca.pem
    IdentityFile ../ska-ser-ca.pem
    ProxyJump jump_host
