Host terminus
    Hostname 130.246.214.45
    User ubuntu
    IdentityFile ../resources/keys/ska-techops.pem
    IdentityFile ./keys/ska-techops.pem
    IdentityFile ~/.ssh/ska-techops.pem
    IdentityFile ./ska-techops.pem
    IdentityFile ../ska-techops.pem

Host 142.73.34.*
    User svc_skadev_ansible
    IdentityFile ../resources/keys/psi-mid.pem
    IdentityFile ./keys/psi-mid.pem
    IdentityFile ~/.ssh/psi-mid.pem
    IdentityFile ./psi-mid.pem
    IdentityFile ../psi-mid.pem