Host 192.168.99.*
    User ubuntu
    IdentityFile ../resources/keys/ska-techops.pem
    IdentityFile ./keys/ska-techops.pem
    IdentityFile ~/.ssh/ska-techops.pem
    IdentityFile ./ska-techops.pem
    IdentityFile ../ska-techops.pem

Host 10.200.*
    User ubuntu
    IdentityFile ../resources/keys/ska-techops.pem
    IdentityFile ./keys/ska-techops.pem
    IdentityFile ~/.ssh/ska-techops.pem
    IdentityFile ./ska-techops.pem
    IdentityFile ../ska-techops.pem