BatchMode yes
StrictHostKeyChecking no
LogLevel QUIET

Host central-logging_master_i00
    Hostname 192.168.99.91
    User ubuntu
    IdentityFile ../resources/keys/ska-techops.pem
    IdentityFile ./keys/ska-techops.pem
    IdentityFile ~/.ssh/ska-techops.pem
    IdentityFile ./ska-techops.pem
    IdentityFile ../ska-techops.pem
    ProxyJump terminus


Host central-logging_master_i01
    Hostname 192.168.99.41
    User ubuntu
    IdentityFile ../resources/keys/ska-techops.pem
    IdentityFile ./keys/ska-techops.pem
    IdentityFile ~/.ssh/ska-techops.pem
    IdentityFile ./ska-techops.pem
    IdentityFile ../ska-techops.pem
    ProxyJump terminus


Host central-logging_master_i02
    Hostname 192.168.99.162
    User ubuntu
    IdentityFile ../resources/keys/ska-techops.pem
    IdentityFile ./keys/ska-techops.pem
    IdentityFile ~/.ssh/ska-techops.pem
    IdentityFile ./ska-techops.pem
    IdentityFile ../ska-techops.pem
    ProxyJump terminus


Host prometheus_podman
    Hostname 192.168.99.154
    User ubuntu
    IdentityFile ../resources/keys/ska-techops.pem
    IdentityFile ./keys/ska-techops.pem
    IdentityFile ~/.ssh/ska-techops.pem
    IdentityFile ./ska-techops.pem
    IdentityFile ../ska-techops.pem
    ProxyJump terminus


Host terminus
    Hostname 130.246.214.45
    User ubuntu
    IdentityFile ../resources/keys/ska-techops.pem
    IdentityFile ./keys/ska-techops.pem
    IdentityFile ~/.ssh/ska-techops.pem
    IdentityFile ./ska-techops.pem
    IdentityFile ../ska-techops.pem
    
